/* Pagina */
h1 {
    color: rgb(1, 16, 20);
    font-size: 60px;
}

body{
    margin: 0;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/* Botón de PlayMetrics */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.navbar-brand:hover {
  color: #3b82f6 !important;
  transform: scale(1.05);
}

.navbar-nav .nav-link {
  font-size: 1rem;
  transition: 0.3s ease;
}

/* HERO SECTION */
/* Banner con imagen de fondo */
#hero {
  width: calc(100% - 40px);
  height: 85vh;
  margin: 10px 20px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    )
    ,url("../Image/banner-cover.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin-top:10px;
}

/* Estilo de letras */
.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Botón de predicción */
.btn-hero {
  display: inline-block;
  padding: 15px 50px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-hero:hover {
  background-color: #cbdbcf;
  transform: scale(1.05);
}

/* Segmento sobre nosotros de home.html */
.intro-box{
  padding: 60px 0;
}

.intro-content{
  max-width: 600px;
  margin-left: auto;
  text-align: right;
}

.intro-title{
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.sub-title{
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #dddd21;
  background-color: #1a1a2e;
}

.intro-points{
  font-size: 1.1rem;
  margin: 8px 0;
}

/* Imagenes con animación */
.features{
  padding: 80px 0;
}

.feature-item{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.8s ease;
}

.feature-item.right{
  flex-direction: row-reverse;
  transform: translateX(60px);
}

.feature-item img{
  width: 300px;
  border-radius: 12px;
}

.feature-text h3{
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
  color: #dddd21;
  background-color: #1a1a2e;
}

.feature-text{
  max-width: 500px;
}

.feature-item.show{
  opacity: 1;
  transform: translateX(0);
}

/* Tarjetas estilos */
.about-title{
  color: #dddd21;
  background-color: #1a1a2e;
  padding: 0.5rem 1 rem;
}


.about-section {
  padding: 100px 0;
  background-color: #f4f6f9;
}

.tarjeta {
  background: rgb(195, 190, 190);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  height: 100%;
}

.tarjeta:hover {
  transform: translateY(-8px);
}

.tarjeta h3 {
  font-weight: 800;
  margin-bottom: 15px;
}

/* Pie de página, copyright, estilo */
.footer-section {
  width: 100%;
  margin-top: auto;
  padding: 1rem 2rem;
  text-align: right;
  background-color: #111827;
  color: white;
}

#sobre-nosotros {
  scroll-margin-top: 80px;
}

/* Segmento de predict.html con styles.css */

.hero-predict {
  width: calc(100% - 40px);
  height: 85vh;
  margin: 10px 20px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    )
    ,url("../Image/prediccion.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin-top:10px;
}

.hero-overlay {
width: 100%;
text-align: center;
}

/* Botón para iniciar la predicción */
.btn-start,
.btn-predict {
  display: inline-block;
  padding: 15px 60px;
  font-size: 1.2rem;
  font-weight: 1000;
  background-color: #3b82f6;
  color: white;
  border: 2px solid #3b82f6;
  border-radius: 40px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover invertido */
.btn-start:hover,
.btn-predict:hover {
  background-color: white;
  color: #3b82f6;
  transform: scale(1.05);
}

/* Tamaño del botón de izq a der */
.btn-predict {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

/* Ingresar parámetros */
.predict-section {
padding: 60px 10%;
background: #f7f5f5;
}

.predict-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 40px;
margin-top: 40px;
}

.predict-group h3 {
margin-bottom: 15px;
}

.switch {
display: flex;
align-items: center;
margin-bottom: 12px;
gap: 10px;
cursor: pointer;
}

.switch input {
display: none;
}

.slider {
width: 50px;
height: 25px;
background: #ccc;
border-radius: 20px;
position: relative;
transition: 0.3s;
}

.slider::before {
content: "";
position: absolute;
width: 20px;
height: 20px;
background: #000;
border-radius: 50%;
top: 2.5px;
left: 3px;
transition: 0.3s;
}

.switch input:checked + .slider {
background: #1b95b8;
}

.switch input:checked + .slider::before {
transform: translateX(25px);
}

.predict-actions {
margin-top: 40px;
text-align: center;
}

.btn-predict {
background: #1591af;
padding: 12px 40px;
border: none;
border-radius: 30px;
font-size: 18px;
cursor: pointer;
}

.prediction-result {
margin-top: 50px;
}

.prediction-bar {
width: 100%;
height: 35px;
background: #ddd;
border-radius: 30px;
overflow: hidden;
}

/* Barra de prediccion */
.prediction-progress {
height: 100%;
width: 0%;
background: #1bb85c;
}

.prediction-label {
text-align: center;
margin-top: 10px;
font-weight: bold;
}

.recommendations-box {
margin-top: 40px;
padding: 30px;
border: 2px solid #000;
background: #fff;
}