/* Pagina */
h1 {
    color: rgb(16, 136, 166);
    font-size: 60px;
}

body{
    margin: 0;
    background: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

/* Botón de PlayMetrics */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.navbar-brand:hover {
  color: #3b82f6 !important;
  transform: scale(1.05);
}

.navbar-nav .nav-link {
  font-size: 1rem;
  transition: 0.3s ease;
}

/* HERO SECTION */
/* Banner con imagen de fondo */
#hero {
  width: 100%;
  height: 85vh;
  margin-left: 0;
  margin-right: 0;
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    )
    ,url("../Image/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 20px;
  margin-top:30px;
}

/* Estilo de letras */
.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Botón de predicción */
.btn-hero {
  display: inline-block;
  padding: 15px 50px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn-hero:hover {
  background-color: #cbdbcf;
  transform: scale(1.05);
}

/* Tarjetas estilos */
.about-section {
  padding: 100px 0;
  background-color: #f4f6f9;
}

.tarjeta {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  height: 100%;
}

.tarjeta:hover {
  transform: translateY(-8px);
}

.tarjeta h3 {
  font-weight: 600;
  margin-bottom: 15px;
}

/* Pie de página, segmento adicional */
.footer-section {
  width: 100%;
  text-align: right;
  padding: 40px 0;
  background-color: #111827;
  color: white;
  margin: 0;
}

#sobre-nosotros {
  scroll-margin-top: 80px;
}