{% extends "base.html" %}
{% block title %}PlayMetrics{% endblock %}

{% block content %}

<section id="hero">
  <div class="hero-content">
    <h1>Predice el éxito, reduce riesgos <br> y crea mejores juegos</h1>
    <a href="/predict" class="btn-hero">Predice tu Proyecto</a>
  </div>
</section>

<section id="sobre-nosotros" class="about-section">
  <div class="container">
    <h2 class="text-center mb-5">Sobre Nosotros</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="tarjeta">
          <h3>Tecnologías</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus, nemo ad placeat facere omnis, magnam quidem tempora quisquam enim unde ipsam illo, magni culpa ut voluptates cum voluptatibus rerum et.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="tarjeta">
          <h3>Algoritmos</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit accusamus dolorem perferendis neque fugiat debitis vitae doloremque? Natus cum est modi quis nihil accusamus, nulla eligendi ex magnam, quod molestiae.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="tarjeta">
          <h3>Métricas</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, minus molestias cumque nostrum ducimus fugit magni commodi dolore deleniti vel qui impedit excepturi iure repellat, numquam doloremque odit, officia quidem?</p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-section">
  <div class="container text-right">
    <p>&copy; PlayMetrics 2026</p>
  </div>
</footer>

{% endblock %}
